:root{
    --up:20px;
    
}
.form{
   display:none;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
}
body{
    padding: 100px;
}
form{
    display: flex;
    flex-direction:column;
    gap: 10px;
}
button{
    border-radius: 8px;
    border: 1px solid grey;
    padding: 10px 5px;
}
.main{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    gap: 100px;
}
.gameboard{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
}
.col{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
cursor: pointer;
}
input{
    height: 30px;
}